<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://dafuai.xmwvip.vip/o_1e0upp8v0n50t3u121h11nhv899.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://s1.ax1x.com/2018/02/22/9UeLEn.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.again.free001</string>
				<key>bundle-version</key>
				<string>6.5.8.32</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>免费更新公众号：笔科技</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
